<p><hr></p>
<div class="jumbotron">
  <h1 class="display-4">Hi, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>Begin to start a new project.</p>
  <p class="lead">
    <%= link_to "Add Project", new_project_path, role: "button", class: "btn btn-primary btn-lg", remote: true %>
    <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Add Project</a> -->
  </p>
</div>

<%= render 'dialog' %>