body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    text-align: center; // Centers inline content
  
    .container {
      display: flex;
      justify-content: center; // Centers flex items horizontally
      align-items: center; // Centers flex items vertically
    }
  }